<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        LightPoint Task
      </a>
    </div>


  </div>
  </div>
</nav>