<div class="modal-header">
  <h3 class="modal-title">Редактирование товара</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputName3" class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vm.edit.name"
          id="inputName3" placeholder="Название товара" auto-focus>
      </div>
    </div>
    <div class="form-group">
      <label for="inputInfo3" class="col-sm-2 control-label">Описание</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vm.edit.info"
          id="inputInfo3" placeholder="Описание товара">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()"
    ng-disabled="vm.edit.name.length===0 || vm.edit.info.length===0">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>