<button type="button" class="btn btn-default" ui-sref="home">
  <span class="glyphicon glyphicon-triangle-left"></span>Назад</button>
<div class="text-center">
  <h2>
    Магазин "{{$ctrl.shop.name}}"
  </h2>
</div>
<table class="table table-striped">
  <tr>
    <th>Название товара</th>
    <th>Описание</th>
  </tr>
  </td>
  <tr ng-repeat="item in $ctrl.shop.items">
    <td>
      <strong>{{item.name}}</strong>
    </td>
    <td>{{item.info}}</td>
  </tr>
</table>