<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="$ctrl.edit.name"
        id="inputName3" placeholder="Название магазина" auto-focus>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress3" class="col-sm-2 control-label">Адрес</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="$ctrl.edit.address"
        id="inputAddress3" placeholder="Адрес магазина">
    </div>
  </div>
  <div class="form-group">
    <label for="inputWork3" class="col-sm-2 control-label">Режим</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="$ctrl.edit.work"
        id="inputWork3" placeholder="Режим работы">
    </div>
  </div>
</form>
<p class="bg-info text-center well-sm">
  поддерживается Drag'n'Drop товаров
</p>
<div class="container ng-shop-items" dnd-list="$ctrl.edit.items" dnd-drop="$ctrl.onDropItem(index,item)">

  <div class="row well-sm panel panel-default ng-shop-item" ng-repeat="item in $ctrl.edit.items"
    dnd-draggable="item" dnd-moved="$ctrl.edit.items.splice($index, 1)"
    dnd-effect-allowed="move" dnd-dragstart="$ctrl.draggedItemIndex=$index">

    <div class="col-sm-4">
      <strong>{{item.name}}</strong>
    </div>
    <div class="col-sm-6">
      {{item.info}}
    </div>
    <div class="col-sm-2">
      <a ng-click="$ctrl.editItem($index)">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a ng-click="$ctrl.deleteItem($index)">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
</div>

<!--<div class="well-sm"></div>-->
<div class="text-center">
  <a ng-click="$ctrl.editItem(-1)">Добавить товар</a>
</div>

<div class="well-lg"></div>
<div class="text-right">
  <button class="btn btn-primary" ng-click="$ctrl.updateShop()"
    ng-disabled="$ctrl.edit.name.length===0 || $ctrl.edit.address.length===0 || $ctrl.edit.address.work===0">Сохранить изменения</button>
  <button class="btn btn-warning" ui-sref="home">Отмена</button>
</div>
<div class="well-lg"></div>