<p class="bg-info text-center well-sm">
  поддерживается Drag'n'Drop магазинов
</p>
<div class="row shops-list" dnd-list="$ctrl.shops" dnd-drop="$ctrl.onDrop(index,item)">
  <div class="col-sm-6 col-md-4" ng-repeat="shop in $ctrl.shops"
    dnd-draggable="shop" dnd-moved="$ctrl.shops.splice($index, 1)"
    dnd-dragstart="$ctrl.draggedShopIndex=$index" dnd-effect-allowed="move">
    <div class="thumbnail">
      <div class="caption">
        <h6>id: {{shop.id=$index+1;$index+1}}</h6>
        <h4>
          Магазин "{{shop.name}}"
        </h4>
        <p>Адрес: {{shop.address}}</p>
        <p>Режим работы: {{shop.work}}</p>
        <p>
          <a ui-sref="shop({shopIndex:$index})">Товары</a>
        </p>
        <p>
          <a ui-sref="shopEdit({shopIndex:$index})">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a ng-click="$ctrl.deleteShop($index)" class="spacer-left">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="well-lg text-left">
  <button type="button" class="btn btn-primary" ui-sref="shopEdit({shopIndex:-1})">
    Добавить магазин
  </button>
</div>

<div class="well-lg"></div>