<div map-lazy-load="https://maps.google.com/maps/api/js" ng-show="$ctrl.isShowMap()">
  <map center="Беларусь Минск" zoom="10">
    <marker ng-repeat="shop in $ctrl.shops" position="Беларусь {{shop.address}}" title="{{shop.name+'\n'+shop.address}}">
    </marker>
  </map>
</div>
<div class="well-sm"></div>