/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #ddf;
// $icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  cursor: default;
}

a {
  cursor: pointer;
}

.spacer-left {
  margin-left: 1em;
}

a span.glyphicon {
  cursor: pointer;
}

.glyphicon-trash {
  color: #800000;
}

.glyphicon-pencil {
  color: #808000;
}

.dndDraggingSource {
  display: none;
}

.dndPlaceholder {
  list-style: none;
}

.ng-shop-items .dndPlaceholder {
  height: 4em;
}

.shops-list .dndPlaceholder {
  display: none;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector